@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";


body {
  font-size: 14px;
}

#search-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 00% 30%;
    
  }
  
  form {
    display: flex;
  }
  
  input[type="text"] {
    width: 90%;
    height: 36px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0 10px;  
}
  
  button[type="submit"] {
    height: 36px;
    width: 50px;
    font-size: 14px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .img-logo{
    display: flex;
    padding: 0.5% 35%;
    padding-top: 10%;
  }

  /* p:first-of-type::before {
    content: "Name: ";
    font-weight: bold;
  }

   */
  /* p:nth-child(4) {
    font-size: 25px;
    color: #000000;
  }  */

  
.info{
    font-size: 20px;
    color: blue;
}

.data{
  font-size: 20px;
  color: rgb(192, 21, 160);
}

   /* Modal styling */
   .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .modal-header {
    text-align: center;
    background-color: #6CA0DC;
    color: white;
  }

  .modal-body {
    padding: 2px 16px;
  }

  /* Search bar styling */
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-bar {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #6CA0DC;
    border-radius: 4px;
  }

  .search-btn {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid #6CA0DC;
    border-radius: 4px;
    background-color: #6CA0DC;
    color: white;
  }

  /* Close button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  