@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";


body {
  font-size: 14px;
}

#search-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 00% 30%;
    
  }
  
  form {
    display: flex;
  }
  
  input[type="text"] {
    width: 90%;
    height: 36px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0 10px;  
}
  
  button[type="submit"] {
    height: 36px;
    width: 50px;
    font-size: 14px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .img-logo{
    display: flex;
    padding: 0.5% 35%;
    padding-top: 10%;
  }

  /* p:first-of-type::before {
    content: "Name: ";
    font-weight: bold;
  }

   */
  /* p:nth-child(4) {
    font-size: 25px;
    color: #000000;
  }  */

  
.info{
    font-size: 20px;
    color: blue;
}

.data{
  font-size: 20px;
  color: rgb(192, 21, 160);
}

.modal-container {
  display: flex;
}

.modal {
  display: none; /* Hidden by default */
  position: relative; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 50%; /* Half width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* Left and right modal side by side */
#pokemonModal {
  left: 0;
}

#cardModal {
  right: 0;
}


@media only screen and (max-width: 768px) {
  #pokemonModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center on screen */
    width: 90%;
    max-width: 600px;
    height: 90%;
    max-height: 800px;
    z-index: 2; /* Higher than cardModal */
  }

  #cardModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center on screen */
    width: 90%;
    max-width: 600px;
    height: 90%;
    max-height: 800px;
    z-index: 1; /* Lower than pokemonModal */
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center on screen */
    width: 90%;
    max-width: 600px;
    height: 90%;
    max-height: 800px;
  }
}
