#search-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0% 30%;
    
  }
  
  form {
    display: flex;
  }
  
  input[type="text"] {
    width: 90%;
    height: 50px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0 10px;  
}
  
  .button-container{
  }
  .card-button[type="submit"] {
    height: 50px;
    width: 100px;
    font-size: 14px;
    background-color: rgb(240, 225, 13);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin:  auto;
  }

  .search-button[type="submit"] {
    height: 50px;
    width: 100px;
    font-size: 14px;
    background-color: rgb(13, 36, 240);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin:  auto;
  }

  .img-logo{
    display: flex;
    padding: 0.5% 35%;
    padding-top: 5%;
  }

.pokeball {
  padding-top: 1%;
  max-width: 150px;
  height: auto;
}

.pokeball-1 {
  transform: scaleX(-1);
}

.pokeball-container{
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
}

.gif-img {
  max-width: 300px;
  height: auto;
}

.gif-container {
  display: flex;
  justify-content: center;
  padding-top: 5%;
  padding-right: 3%;
}

